<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button class = "button button-block">
   button-block
</button>

<button class = "button button-full">
   button-full
</button>
</ion-content>
