<ion-header>
  <ion-toolbar>
    <ion-title>BrowseWater</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label> Browse Products </ion-label>
<ion-label> Water Category </ion-label>

<div>
 <img src ="aQualle.png"alt ="aQualle">
 <ion-label>aQualle Water</ion-label>
 <ion-label>Still</ion-label>
 <ion-label>1 Litre(s)</ion-label>
  <ion-label>Price: R10.00</ion-label>
 </div>

 <div>
 <img src ="assets/lays.png"alt ="lays">
 <ion-label>Lays</ion-label>
  <ion-label>Potato Chips</ion-label>
  <ion-label>Price: R12.00</ion-label>
</div>

 <div>
<img src ="assets/Maynards.png"alt ="Maynards">
 <ion-label>Maynards</ion-label>
  <ion-label>Sweets</ion-label>
  <ion-label>Price: R15.00</ion-label>
</div>
 
 <ion-button  color="danger" type="submit" >Back</ion-button>

</ion-content>
