<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
     
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
  <img src ="assets/logo.png"alt ="WaterworldLogo">

    <ion-card-title>Login</ion-card-title>
  </ion-card-header>


</ion-card>

<ion-card>
  <ion-item>       
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

  <ion-item>
           <ion-input placeholder="Password" type="password"></ion-input>       
  </ion-item>
</ion-card>

<ion-card>
 <ion-button color="primary">Login</ion-button>
<ion-button  fill="outline" (click)="RegisterClient()">Register</ion-button>
</ion-card>

</ion-content>
